{%load static%}
{%include 'header.html'%}
<div id="main-content" class="col-md-10">
    <div class="card w-100">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div>
                    <a href="{% url 'catalogo' %}" class="btn btn-secondary"><i class="bi bi-arrow-left-short"></i>Volver</a>
                </div>
                <h1 class="text-center mb-0 flex-grow-1">Carrito de Compras</h1>
                <div>
                    <a href="{% url 'venta' %}" class="btn btn-success">Finalizar compra<i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>
            
     
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>id producto</th>
                        <th>Imagen</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Descuento</th>
                        <th>Precio Final</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in productos_carrito %}
                        <tr>
                            <td>{{item.id}}</td>
                            <td>
                                <img src="{{ item.producto.imagen.url }}" alt="{{ item.producto.nombre }}" class="img-thumbnail" style="width: 100px; height: 100px;" >
                            </td>
                            <td>{{ item.producto.nombre }}</td>
                            
                                
                                <td>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <button class="btn btn-primary btn-sm" onclick="actualizarCantidad('{{ item.producto.id }}', 'aumentar')">
                                            Aumentar
                                        </button>
                                        <span class="mx-1">{{ item.cantidad }}</span> <!-- Muestra la cantidad entre los botones -->
                                        <button class="btn btn-secondary btn-sm" onclick="actualizarCantidad('{{ item.producto.id }}', 'disminuir')">
                                            Disminuir
                                        </button>
                                    </div>
                                </td>
                                                                
                            
                            <td>${{ item.precio_unitario }}</td>
                            <td>
                                {% if item.descuento > 0 %}
                                    {{ item.descuento }}% OFF
                                {% else %}
                                    No aplica
                                {% endif %}
                            </td>
                            <td> {{item.precio_final}}</td>
                            <td>
                                <a href="#" class="btn btn-danger btn-sm" onclick="confirmarEliminacion('{{ item.producto.id }}')">
                                    <i class="bi bi-x-square"></i>
                                </a>
                            </td>
                        </tr>

                        
                    {% endfor %}

                    <script>
                            function actualizarCantidad(id_producto, accion) {
                                fetch(`/actualizar_carrito/${id_producto}/${accion}/`, {
                                    method: 'GET',
                                })
                                .then(response => response.json())
                                .then(data => {
                                    if (data.success) {
                                        if (data.confirmar_eliminacion) {
                                            // Muestra un mensaje de confirmación si es la última unidad
                                            const confirmacion = confirm("Estás eliminando la última unidad. ¿Quieres eliminar este producto del carrito?");
                                            if (confirmacion) {
                                                // Elimina el producto completamente
                                                fetch(`/carrito/eliminar/${id_producto}/`, {
                                                    method: 'GET',
                                                })
                                                .then(() => location.reload()); // Recarga después de eliminar
                                            }
                                        } else {
                                            // Si no es la última unidad, simplemente recarga
                                            location.reload();
                                        }
                                    } else {
                                        alert('Error al actualizar la cantidad');
                                    }
                                })
                                .catch(error => console.log('Error:', error));
                            }

                        </script>

                        <script>
                            function confirmarEliminacion(productoId) {
                                const confirmacion = confirm("¿Estás seguro de que deseas eliminar este producto del carrito?");
                                if (confirmacion) {
                                    // Redirige a la URL que elimina el producto
                                    window.location.href = `/carrito/eliminar/${productoId}/`;
                                }
                            }
                        </script>
                </tbody>
            </table>
            <h3 class="text-right">Total: ${{ total }}</h3>
        </div>
        
</div></div>
</div>