{%load static%}
{%include 'header.html'%}
<div id="main-content" class="col-md-10">
    <div class="container mt-5">
        <div class="container my-4">
            <h1 class="text-center">Carrito de Compras</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Descuento</th>
                        <th>Precio Final</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in productos_carrito %}
                        <tr>
                            <td>
                                <img src="{{ item.producto.imagen.url }}" alt="{{ item.producto.nombre }}" class="img-thumbnail" >
                            </td>
                            <td>{{ item.producto.nombre }}</td>
                            <td>
                                <!-- Botones para aumentar y disminuir la cantidad -->
                                <a href="{% url 'carrito_disminuir' item.producto.id %}" class="btn btn-sm btn-danger">-</a>
                                {{ item.cantidad }}
                                <a href="{% url 'carrito_agregar' item.producto.id %}" class="btn btn-sm btn-success">+</a>
                            </td>
                            <td>${{ item.precio_unitario }}</td>
                            <td>
                                {% if item.descuento > 0 %}
                                    {{ item.descuento }}% OFF
                                {% else %}
                                    No aplica
                                {% endif %}
                            </td>
                            <td> {{item.precio_final}}</td>
                            <td>
                                <a href="{% url 'carrito_eliminar' item.producto.id %}" class="btn btn-danger btn-sm"><i class="bi bi-x-square"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h3 class="text-right">Total: ${{ total }}</h3>
        </div>
        <div class="text-right">
            <a href="{% url 'venta' %}" class="btn btn-success">Finalizar compra</a>
        </div>
</div></div>
</div>