{%load static%}
{%include 'header.html'%}

<div id="main-content" class="col-md-10">
    <div class="content-container p-3">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a href="../empleados_ver/" class="nav-link">Ver</a></li>
                    <li class="nav-item"><a href="../empleados_agregar/" class="nav-link">Agregar</a></li>  
                </ul>
                <div class="card shadow-lg p-4">
                    <h3 class="text-center mb-4">Agregar Usuario</h3>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.nombre.label_tag }}
                            {{ form.nombre }}
                        </div>
                        <div class="mb-3">
                            {{ form.apellido.label_tag }}
                            {{ form.apellido }}
                        </div>
                        <div class="mb-3">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>
                        <div class="mb-3">
                            {{ form.contrasena.label_tag }}
                            {{ form.contrasena }}
                        </div>
                        <div class="mb-3">
                            {{ form.genero.label_tag }}
                            {{ form.genero }}
                        </div>
                        <div class="mb-3">
                            {{ form.edad.label_tag }}
                            {{ form.edad }}
                        </div>
                        
                        <div class="mb-3">
                            <label>{{ form.tipo.label }}</label>
                            {% for radio in form.tipo %}
                                <div class="form-check">
                                    {{ radio.tag }}
                                    <label class="form-check-label">{{ radio.choice_label }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{form.habilitado.label_tag}}
                            {{form.habilitado}}
                        </div>
                        
                        <button type="submit" class="btn btn-primary w-100">Agregar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Main Content -->    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
