{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayCom</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">

    <!--font-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

</head>
<body>
        <!-- Header fijo -->
        <div class="bg-primary text-white py-2 fixed-top">
            <h3 class="text-left">PlayCom</h3>
        </div>
    
        <div class="container-fluid">
            <div class="row">
                <!-- Sidebar fijo -->
                <div id="sidebar" class="col-md-2 p-0 bg-light vh-100">
                    <nav class="nav flex-column p-3">
                        <a href="{%url 'inicio'%}" class="nav-link"><i class="bi bi-house-door me-2"></i> Inicio</a>
                        <a href="{%url 'inventario_ver'%}" class="nav-link"><i class="bi bi-box me-2"></i> Inventario</a>
                        <a href="{%url 'empleados_ver'%}" class="nav-link"><i class="bi bi-people me-2"></i> Empleados</a>
                        <a href="{%url 'proveedores_ver'%}" class="nav-link"><i class="bi bi-person-lines-fill me-2"></i> Proveedor</a>
                        <a href="{%url 'catalogo'%}" class="nav-link"><i class="bi bi-currency-dollar me-2"></i> Ventas</a>
                        <a href="{%url 'generar_reporte'%}" class="nav-link"><i class="bi bi-receipt me-2"></i> Reportes</a>
                    </nav>
                </div>