{% load static %}
{% include 'header.html' %}
<div id="main-content" class="col-md-10">
  <div class="col-mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a href="../inventario_ver/" class="nav-link"> Ver</a>
          </li>
          <li class="nav-item">
            <a href="../inventario_compras/" class="nav-link active">Agregar</a>
          </li>
        </ul>
        <div class="card shadow-lg p-4">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a href="../producto_agregar/" class="nav-link"> Producto</a>
            </li>
            <li class="nav-item">
              <a href="../inventario_compras" class="nav-link active">Compras</a>
            </li>
          </ul>
          <h3 class="text-center mb-4">{{ titulo }}</h3>
          <form method="POST" action="#">
            {% csrf_token %}
            <div class="mb-3">
              {{ form.proveedor.label_tag }} {{ form.proveedor }}
            </div>
            <div class="mb-3">
              <label for="orden" class="form-label">Orden de compra</label>
              <input
                type="text"
                class="form-control"
                id="orden"
                name="orden"
                value="{{ next_id }}"
                placeholder="N° Orden de compra"
                readonly
                required
              />
            </div>
            <div class="mb-3">
              <div class="row g-3 align-items-end producto-item">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Productos:</label>
                    {{ form.producto }}
                  </div>
                </div>
                <div class="col-md-2">
                  <label for="id_precio" class="form-label">Precio</label>
                  {{ form.precio }}
                </div>
                <div class="col-md-2">
                  <label for="id_cantidad" class="form-label">Cantidad</label>
                  {{ form.cantidad }}
                </div>
                <div class="col-md-6">
                  <label for="fecha" class="form-label">Fecha</label>
                  {{ form.fecha }}
                </div>
                <div class="mt-4">
                  <button type="submit" class="btn btn-primary">Comprar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
