{% load static %}
{% include 'header.html' %}
<script>
    const baseHabilitarUrl = "{% url 'producto_habilitar' 0 %}";
</script>
<div id="main-content" class="col-md-10 ms-auto">
    <div class="content-container p-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="{% url 'inventario_ver' %}" class="nav-link active">Inventario</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'compras_ver' %}" class="nav-link">Compras</a>
            </li>
        </ul>
        <a class="btn btn-primary my-3" href="{% url 'compras_agregar' %}">Agregar nuevo producto</a>
        <a class="btn btn-primary my-3" href="{% url 'inventario_ver' %}">Ver productos </a>
        <div class="table-responsive">
            <table id="datatable-productos" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="centered">#</th>
                        <th class="centered">Producto</th>
                        <th class="centered">Cantidad</th>
                        <th class="centered">Precio</th>
                        <th class="centered">Acciones</th>
                    </tr>
                </thead>
                <tbody id="cuerpoTabla_productos">
                    <!-- Aquí se llenan los datos dinámicamente -->
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    const habilitarUrlTemplate = "{% url 'producto_habilitar' 0 %}";
    console.log("habilitarUrlTemplate:", habilitarUrlTemplate);
</script>



<script src="{% static 'js/deshabilitados.js' %}"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>

<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>

<!-- Bootstrap 5 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
