{%load static%}
{%include 'header.html'%}


<div id="main-content" class="col-md-10">
    <div class="container mt-5">
        <div class="row justify-content-center">
            
               
                <div class="card shadow-lg p-5"> 
                    
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <a href="{% url 'inventario_ver' %}" class="btn btn-secondary w-20 d-flex align-items-center justify-content-center">
                            <i class="bi bi-arrow-left-short me-2"></i> Volver
                        </a>
                        <!-- Título al centro -->
                        <h3 class="text-center w-100">Agregar Producto</h3>                    
                    </div>
                    
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.as_p}}
                        
                       
                    
                        
                        <button type="submit" class="btn btn-primary w-100">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


